* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  padding: 100px 0;
  background-color: rgb(16, 2, 29);
  color: white;
  width: 100%;
}
h2 {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
}
button {
  width: 100px;
  padding: 10px 5px;
  border-radius: 5px;
}
.card {
  background-color: rgb(53, 13, 90);
  width: 300px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  gap: 10px;
}
input {
  padding: 10px 20px;
  border: 1px solid transparent;
}

@media screen and (max-width: 1100px) {
  body {
    padding: 20px 0;
  }
  .cards {
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }
  .card {
  max-width: 80%;
  height: 100px;
  padding: 50px 20px;
  gap: 10px;
}
}
